.slide-up-enter-active {
    transition: transform 0.3s;
  }
  
  .slide-up-leave-active {
    transition: transform 0.3s;
  }
  
  .slide-up-enter-from,
  .slide-up-leave-to {
    transform: translateY(100%);
  }
  
  .slide-up-enter-to,
  .slide-up-leave {
    transform: translateY(0);
  }