:root {
  --white: #fff;
  --black: #000;
  --gray: #ccc;
  --light-gray: #f0f0f0;
  --dimgray: dimgray;
  --red: #dd3528;
  --blue: #42B6E8;
  --yellow: yellow;

  --nav-bg-light: rgb(246, 246, 246);
  --nav-active-bg-light: white;
  --nav-bg-dark: rgb(49, 49, 49);
  --nav-active-bg-dark: black;

  --placeholder-opacity: 0.7;
}